.header {
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-container{
    max-width: 1630px;
    margin-left: 15px;
    margin-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header-logo {
    object-fit: cover;
}
.header-nav {
    font-family: Exo 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;    
}

.header-nav ul{
    display: flex;
}

.header-nav li + li{
    margin-left: 25px;
}

.header-number {
    padding-bottom: 5px;
}

@media (max-width: 1299px) {
    .header-nav{
        font-size: 13px;
    }
}
@media (max-width: 1144px) {
    .header-nav{
        font-size: 10px;
    }
}
@media (max-width: 992px) {
    .header-nav{
        display: none;
    }
}



