.konsult {
    margin-top: 100px;
    margin-bottom: 100px;
}
.container {

}
.konsult-content {

}
.konsult-title {
    color: #151515;
    text-align: center;
    font-family: Literata;
    font-size: 34px;
    font-weight: 600;
    line-height: 117.647%;
    margin-bottom: 40px;
}
.konsult-images {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1224px) {
    .konsult-img {
        max-width: 80%;
        margin-bottom: 20px;
    }
    .konsult-images {
        align-items: center;
        display: flex;
        flex-direction: column;

    }

}
